<nav
style="
height:70px;
background:#0f172a;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 30px;
"
>

    <h2 style="color:white;">
        ATS Resume Analyzer
    </h2>

    <div>

        <span
        style="
        color:white;
        margin-right:20px;
        "
        >
            Welcome
            {{ request.user.username }}
        </span>

        <button
        id="themeToggle"
        class="btn"
        >
            🌙 Theme
        </button>

    </div>

</nav>