<div
style="
width:250px;
background:#1e293b;
padding:20px;
min-height:100vh;
"
>
{% if user.is_authenticated %}
  {% if request.user.role == 'candidate' %}

    <a href="/candidate-dashboard/"
    style="display:block;color:white;padding:12px;">
        Dashboard
    </a>

    <a href="/upload-resume/"
    style="display:block;color:white;padding:12px;">
        Upload Resume
    </a>

    <a href="/analysis/"
    style="display:block;color:white;padding:12px;">
        Analysis
    </a>
    
    <a href="/candidate-jobs/"
    style="display:block;color:white;padding:12px;">
        Available Jobs
    </a>
    
    <a href="/profile/"
    style="display:block;color:white;padding:12px;">
        Profile
    </a>

  {% elif request.user.role == 'recruiter' %}

    <a href="/recruiter-dashboard/"
    style="display:block;color:white;padding:12px;">
        Dashboard
    </a>

    <a href="/create-job/"
    style="display:block;color:white;padding:12px;">
        Create Job
    </a>

    <a href="/jobs/"
    style="display:block;color:white;padding:12px;">
        My Jobs
    </a>

    <a href="/applicants/"
    style="display:block;color:white;padding:12px;">
      Applicants
    </a>

    <a href="/rankings/"
    style="display:block;color:white;padding:12px;">
      Rankings
    </a>
    
  {% elif request.user.role == 'admin' %}

    <a href="/admin-dashboard/"
    style="display:block;color:white;padding:12px;">
        Dashboard
    </a>

    <a href="/admin/"
    style="display:block;color:white;padding:12px;">
        Django Admin
    </a>

  {% endif %}

    <hr style="margin:15px 0;">

    <a href="/logout/"
    style="display:block;color:#ef4444;padding:12px;">
        Logout
    </a>
{% endif %}
</div>