<aside class="sidebar" id="sidebar">

    {% if user.is_authenticated %}

        {% if request.user.role == 'candidate' %}

            <a href="/candidate-dashboard/">Dashboard</a>
            <a href="/upload-resume/">Upload Resume</a>
            <a href="/analysis/">Analysis</a>
            <a href="/candidate-jobs/">Available Jobs</a>
            <a href="/profile/">Profile</a>

        {% elif request.user.role == 'recruiter' %}

            <a href="/recruiter-dashboard/">Dashboard</a>
            <a href="/create-job/">Create Job</a>
            <a href="/jobs/">My Jobs</a>
            <a href="/applicants/">Applicants</a>
            <a href="/rankings/">Rankings</a>

        {% elif request.user.role == 'admin' %}

            <a href="/admin-dashboard/">Dashboard</a>
            <a href="/admin/">Django Admin</a>

        {% endif %}

        <hr>

        <a href="/logout/" class="logout-link">
            Logout
        </a>

    {% endif %}

</aside>

<div class="sidebar-overlay" id="sidebarOverlay"></div>